* {
    padding: 0;
    margin: 0;
}

/* general styling */


/* Header | Navbar styling */
.navbar {
    background: url(images/bg-texture.jpg) repeat;
    color: white;
    display: flex;
    padding: 25px 20px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 25px;
    width: 85px;
    display: flex;
    align-items: center;
}


.slogan {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
}
.slogan p {
    width: max-content;
}

.icon-nav {
    display: flex;
    float: right;
    justify-content: space-evenly;
}
.icon-nav li {
    list-style: none;
}
.icon-nav li a {
    text-decoration: none;
    padding-right: 15px;
}

/* Section2 */

.section2 {
    background: url(images/bg-hero.jpg);
    display: flex;
    flex-direction: column;
    height: 465px;
}

.sec2-row1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px;
}
.sec2-row1 p {
    width: 650px;
    font-size: 45px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}

.sec2-row2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}
.sec2-row2 p {
    width: 850px;
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
}

.sec2-row3 {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.sec2-row3 .btn-1{
    margin-left: 30%;
}
.sec2-row3 .btn-2{
    margin-right: 30%;
}
.btn-1{
    background-color: greenyellow;
    color: white;
    width: 240px;
    height: 54px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: green 0px 20px 30px -10px;
}
.btn-2{
    background-color: dodgerblue;
    font-size: 20px;
    width: 170px;
    height: 54px;
    color: white;
    border-radius: 5px;
    box-shadow: blue 0px 20px 30px -10px;
    border: none;
}

/* Section 3 | photo gallery with info*/

.section3 {
    height: 740px;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec3-row1{
    background: red;
}
.sec3-row2{
    background: pink;
}
.sec3-row3{
    background: yellow;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blocks .block {
    width: 351px;
    margin-left: 43px;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid var(--gray-100);
}
.blocks .block:first-child {
    margin-left: 0;
}

.blocks img {
    vertical-align: top;
}
.blocks .image {
    margin-bottom: 13px;
}

.blocks .person {
    display: flex;
}

.blocks .photo {
    width: 50px;
    margin-right: 10px;
    flex-shrink: 0;
}

.blocks .phrase {
    margin: 0 0 2px;
    font-weight: 600;
}

.blocks .info {
    color: var(--gray-200);
    font-size: 14px;    margin: 0;
}

.blocks .block {
    position: relative;
}
.blocks .block::after,
.blocks .block::before {
    content: '';
    height: 3px;
    border-radius: 0 0 4px 4px;
    border: 1px solid var(--gray-100);
    border-top: 0;
    position: absolute;
}
.blocks .block::after {
    bottom: -4px;
    left: 3px;
    right: 3px;    opacity: .8;
}
.blocks .block::before {
    bottom: -7px;
    left: 6px;
    right: 6px;    opacity: .5;
}